* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

html {
  margin: 0 auto;
  height: 100vh;
  background: white;
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//start new styles
.header {
  position: absolute;

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    min-width: 90%;

    a {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      padding: 0 85px;

      @media only screen and (max-width: 780px) {
        padding: 0 30px;
      }

      @media only screen and (max-width: 1200px) {
        padding: 0 70px;
      }
    }

    > a:nth-child(1) {
      border-left: none;
    }
  }
}

.hero {
  .property-image-1 {
    width: 100%;
    height: 200px;
    background-image: url("./assets/house-image-1.jpg");
    background-size: cover;
  }
}

.listing-wrapper {
  position: relative;
}

.listing {
  position: absolute;
  display: flex;
  top: -65px;
  width: 100%;
  justify-content: center;

  .property-info-wrapper {
    max-width: 700px;
    min-width: 600px;
    height: 140px;
    background: white;
    z-index: 5;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    position: relative;

    p {
      position: absolute;
      top: -18px;
      left: 2px;
      font-size: 13px;
      color: white;
      cursor: pointer;
    }

    h1 {
      white-space: nowrap;
    }

    .listing-price h1 {
      color: rgb(207, 58, 58);
      /*text-align: left;*/
      padding-top: 15px;
    }
  
    .bid {
      color: white;
      background-color: #333;
      width: 250px;
      height: 60px;
      transition: all .4s ease;
      border: 3px solid white;
      outline: none;
      position: absolute;
      bottom: 50px;
      left: 35%;
    }

    .bid:before {
      content: "";
      position: absolute;
      width: 50px;
      top: 50%;
      left: -30px;
      background: #333;
      height: 1px;
      transform: scaleY(1.1);
    }

    .bid:after {
      content: "";
      top: 50%;
      position: absolute;
      width: 50px;
      right: -30px;
      background: #333;
      height: 1px;
      transform: scaleY(1.1);
    }
  
      .bid:hover {
        color: #001F3F;
        background-color: #fff;
        border: 1px solid black;
    }
  }
}

.filler {
  width: 100%;
  height: 75px;
  background-color: #333;;
  position: absolute;
  bottom: -208px;
}

.bids-wrapper {
  width: 100%;
  height: 550px;
  background-color: #333;
  display: flex;
  justify-content: center;

  .bids {
    width: 100%;
    background-color: #fff;
    height: 400px;
    margin-top: 75px;
  }
}