* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  text-align: left;
}

html {
  margin: 0 auto;
  height: 100vh;
  background: white;
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//start new styles
.header {
  position: absolute;
  z-index: 10;

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    min-width: 90%;

    a {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      padding: 0 85px;

      @media only screen and (max-width: 780px) {
        padding: 0 30px;
      }

      @media only screen and (max-width: 1200px) {
        padding: 0 70px;
      }
    }

    > a:nth-child(1) {
      border-left: none;
    }
  }
}

.hero {
  .property-image-1 {
    width: 100%;
    min-width: 800px;
    height: 200px;
    background-image: url("./assets/house-image-1.jpg");
    background-size: cover;
  }
}

.listing-wrapper {
  position: relative;
  background-color: #fff;
}

.listing {
  width: 100%;

  .property-info-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 10px;

    .property-thumbnail {
      min-width: 250px;
      height: 150px;
      background-image: url("./assets/house-image-1.jpg");
      background-size: cover;
    }

    .property-info {
      margin-left: 10px;

      h1 {
        white-space: nowrap;
      }

      .price {
        color: rgb(207, 58, 58);
        margin-top: 10px;
      }
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  width: 74%;
  margin-top: 5px;

  .icon {
    display: flex;
  }

  .icon-bed {
    background-image: url("./assets/icon-bed.png");
    background-size: cover;
    height: 15px;
    width: 25px;
    margin-top: 7px;
  }

  .icon-bath {
    background-image: url("./assets/icon-bath.png");
    background-size: cover;
    height: 21px;
    width: 21px;
    margin-top: 3px;
  }

  .icon-sqft {
    background-image: url("./assets/icon-sqft.png");
    background-size: cover;
    height: 21px;
    width: 21px;
    margin-top: 6px;
  }

  p {
    text-align: left;
    line-height: 2;
    padding-left: 5px;
  }
}

.user-buttons {
  button {
    color: white;
    background-color: #333;
    width: 300px;
    height: 60px;
    transition: all .4s ease;
    border: 3px solid white;
    outline: none;
  }

  button:hover {
    color: #001F3F;
    background-color: #fff;
    border: 1px solid black;
}

  button:nth-child(1) {
    top: 290px;
  }
}

.filler-text {
  width: 65%;
  line-height: 1.5;

  p {
    text-align: left;
  }
}

.bids-wrapper {
  background-color: #fff;
  padding-top: 35px;
  
  h2 {
      text-align: center;
  }

  .bids {
    max-width: 90%;
    background-color: #fff;
    display:grid;
    grid-template-rows: auto auto;
    margin: 0 auto;
    overflow-y: hidden;

    .row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
    }

    .header-row .box {
      justify-content: center;
      font-weight: 600;
      font-size: 15px;
    }

    .box{
      color: #000;
      display: flex;
      align-items: center;
      font-size: 13px;
      white-space: nowrap;
      flex: 1;
      width: 200px;
      outline: 1px solid black;
      padding: 5px;
    }
  }
}